<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>NFACA</title>
    <script src="https://kit.fontawesome.com/9422f6cb9b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link href="../Content/Index.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="icon" href="../Images/NFACA_Logo.jpg" />
    <script src="../Scripts/Navigation.js"></script>
</head>
<body class="row" id="top">
    <div class="col col-2">
        <nav class="sidebar position-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#top" onclick="toggleSections('#_main', true)">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#top" onclick="toggleSections('#_directory', true)">Directory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#top" onclick="toggleSections('#_forms', true)">Forms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#top" onclick="toggleSections('#_enroll', true)">Enrollment Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#top" onclick="toggleSections('#_events', true)">Upcoming Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#top" onclick="toggleSections('#_gallery', true)">Photo Gallery</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container body-content col col-10">
        <div class="MainContent" id="_main">
            <nav class="navbar sticky-top navbar-expand-lg second-color">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
                    </button>
                    <div class="navbar-collapse collapse" id="navbarToggler">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" href="#home" onclick="toggleNav()">Welcome</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#benefits" onclick="toggleNav()">Member Benefits</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contact" onclick="toggleNav()">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="parallax1"></div>
            <span class="anchor" id="home"></span>
            <div class="HomeContainer justify-content-center gap">
                <div class="shadow-box">
                    <div class="ridge row">
                        <h1><strong>Newton Falls Area Commerce Association</strong></h1>
                    </div>
                    <hr />
                    <div class="parallax-split row p-4">
                        <div class="col col-4 align-content-center">
                            <img class="img-fluid" src="../Images/NFACA_Logo.jpg" />
                        </div>

                        <div class="col col-8 ">
                            <h3>Mission Statement</h3>
                            <p>
                                The Association is comprised of local businesses and organizations that support and promote Newton Falls, Ohio area businesses and the community.
                                All necessary means of promotion shall be provided, and particular attention and emphasis shall be given to the economic, civil, cultural, industrial, commercial and educational interests of the area.
                                The Association will promote and support Newton Falls, Ohio area businesses, communicate concerns of businesses to government officials, promote utilization of businesses in the community, function as Good Samaritans without personal liability, and will be non-profit, non-partisan, non-sectarian and apolitical.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="benefit-bg"></div>
            <span class="anchor" id="benefits"></span>
            <div class="BenefitContainer justify-content-center gap">
                <div class="shadow-box">
                    <div class="ridge row">
                        <h1>NFACA Membership Benefits</h1>
                    </div>
                    <hr />
                    <div class="fifth-color p-4">
                        <p>
                            The NFACA meets twice a month, the 2nd Tuesday at 6:00pm at the Commerce building, 17 E Broad St and the 4th Tuesday at 8:00am. We get together and have our formal meetings to discuss and vote on various topics relating to the commerce of Newton Falls. All members are welcome to attend these meetings to voice their opinions and hear what is happening in Newton Falls.

                            There is one event that is always available to members:

                            NFACA Member Christmas Party in December

                            Also, members can opt to purchase a spot on the Newton Falls Has Zip Sign on Route 5. Additional membership fees apply and there must be an available spot on the sign to sign-up.

                            Other benefits of being a business member include:

                            Being featured on our NFACA website with links to your website.

                            Access to the "Regional Chambers" health insurance plan.

                            The ability to network with other vendors within the area.

                            The Newton Falls Area Commerce Association is a member of the NOACC (Northern Ohio Area Chamber of Commerce).

                            This entitles our members to the following benefits...

                            Group Health Insurance

                            Managed Care Organization

                            Employee Assessment Testing Discounts

                            Workers' Compensation Group Rating Programs

                            Office Supplies and Services

                            Credit Card Processing

                            Payroll Processing

                            Shipping and Freight Services

                            Accounts Receivables & Collection Management

                            Freight Delivery

                            Website Development

                            Employee Wellness Program

                            Benefits of Being a Individual Member

                            Being involved in your community

                            Networking with other individuals and area businesses

                            Recognition for volunteer work in commerce events and community projects

                            Invited to the yearly NFACA dinner
                        </p>
                    </div>
                </div>
            </div>
            <div class="contact-bg"></div>
            <span class="anchor" id="contact"></span>
            <div class="ContactContainer justify-content-center gap">
                <div class="shadow-box">
                    <div class="ridge row">
                        <h1>Contact Us</h1>
                    </div>
                    <hr />
                    <div class="third-color contact p-4">
                        <div class="row">
                            <div class="col col-6 border-end">
                                <p>
                                    <strong>Newton Falls Area Commerce Association Officers:</strong>
                                    <br />
                                    <i>President:</i> Katie McClain
                                    <br />
                                    <i>Vice President:</i> Patti Hanzes
                                    <br />
                                    <i>Treasurer:</i> Nick Kepich
                                    <br />
                                    <i>Secretary:</i> Laura Neiheisel
                                </p>
                            </div>
                            <div class="col col-6">
                                <p>
                                    <label>Contact Info</label>
                                    <br />
                                    <strong>Commerce Building Address:</strong> 17 E Broad St Newton Falls OH 44444
                                    <br />
                                    <span><strong>Email:</strong> <a href="mailto:Newtonfallscommerce@gmail.com">Newtonfallscommerce@gmail.com</a></span>
                                    <br />
                                    <span><strong>Phone:</strong> <a href="tel:3308724015">330-872-4015</a></span>
                                    <br />
                                    Follow us on <a href="https://www.facebook.com/NFACA" target="_blank">Facebook</a> and <a href="https://www.tiktok.com/@newtonfallscommerce" target="_blank">TikTok</a> as well!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="parallax2"></div>
        </div>
        <div class="Directory" id="_directory" style="display:none">

        </div>
        <div class="Forms" id="_forms" style="display:none">

        </div>
        <div class="Enroll" id="_enroll" style="display:none">

        </div>
        <div class="Events" id="_events" style="display:none">

        </div>
        <div class="Gallery" id="_gallery" style="display:none">

        </div>
        <footer>
            <hr />
            <p>&copy; 2022 - Newton Falls Area Commerce Association</p>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

<script>
    var currentSection = '#_main';

    function toggleSections(id, toggleNav) {
        if (toggleNav) {
            let nav = $('.navbar-toggler');

            if (!nav.hasClass('collapsed')) {
                nav.click();
            }
        }

        if (id !== currentSection) {
            $(currentSection).toggle("slow");
            $(id).toggle("slow");
            currentSection = id;
        }
    }

    function toggleNav() {
        let nav = $('.navbar-toggler');

        if (!nav.hasClass('collapsed')) {
            nav.click();
        }
    }

    $(window).on('hashchange', function (e) {
        history.replaceState("", document.title, e.originalEvent.oldURL);
    });
</script>